MONGODB_CONNECTION = mongodb+srv://jkenosuh:8sEVnbEnTkZt21C7@p2pcluster.8gz3phk.mongodb.net/?retryWrites=true&w=majority&appName=P2PCluster
JWT_KEY = jhdwygwdkbfkflekgrggr
JWT_EXPIRES = "1d"
PORT = 5000
EMAIL_USER = 'chukwumaken73@gmail.com'
EMAIL_PASS = 'imxoefryimtihxar'
VONAGE_API_KEY = "a8ddffe6"
VONAGE_API_SECRET = "a7d7XT1ORE6z2AbU"
CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_SECRET_KEY =